<h2> <%= @task.title %> </h2>
<p> <%= @task.details %> </p>

<li><%= link_to "Home", tasks_path %></li>

<p> <%= link_to "update task", edit_path %> </p>


<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
